<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Événements du Calendrier</title>
    
</head>
<body>
    <div class="container">
        <h1>Événements du Calendrier</h1>
        <ul>
            {% for cours in cours_data %}
                <li>
                    Prénom : {{ cours.prenom_eleve }}<br>
                    Date de début : {{ cours.date_debut }}<br>
                    Date de fin : {{ cours.date_fin }}<br>
                    Durée : {{ cours.duree }} heures<br>
                    Prix : {{ cours.prix }} €
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>